@charset 'UTF-8';

/*Configurações media query*/

/* Typical device Breakpoints
Pequenas telas até 600px
celular: de 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px*/

@media print {
   
}

@media screen and (min-width: 768px) and (max-width: 992px){
   body {
      background-image: var(--tablet);
   }
   main {
      width: 80vw;
   }
   main > div#img {
      background-image:  url(../imagems/img05.jpeg);
      float: left;
      width: 40%;
      height: 100%;
   }

   main > div#form {
      float: right;
      width: 60%;
   }
}

@media screen and (min-width: 992px) {
   body {
      background-image: linear-gradient(to bottom, white, black);
   }
   main {
      width: 950px;
   }
   main > div#img {
      background-image: url(../imagems/img06.jpeg);
      float: left;
      width: 50%;
      height: 100%;
   }

   main > div#form {
      float: right;
      width: 50%;
   }
}