@charset 'UTF-8';

/*Configurações media query*/

/* Typical device Breakpoints
Pequenas telas até 600px
celular: de 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px*/

@media print {
   
}

@media screen and (min-width: 768px) and (max-width: 992px){
   body {
      background-image: var(--tablet);
   }
   main {
      width: 80vw;
      height: 380px;
   }
   main > div#img {
      background-image:  url(../imagems/img05.jpeg);
      float: left;
      width: 40%;
      height: 100%;
   }

   main > div#form {
      float: right;
      width: 60%;
   }
   div#form > h1 {
      font-size: 2.3em;
   }

   div#form > p {
      font-size: 1.3em;
   }
   form > a.botao {
      color: green;
      border: 2px  solid rgb(152, 219, 151);
      background-color: white;
   }
   input#submit {
      background-color: rgb(151, 219, 151);
      color: black;
   }
   form > a.botao:hover {
      background-color: rgb(151, 219, 151);
      color: black;
      transition: .5s;
   }
   input#submit:hover {
      background-color: rgb(2, 80, 2);
      color: white;
      transition: .5s;
   }
   div.field > input {
      background-color: rgb(2, 80, 2);
   }
   form > div.field {
      background-color: rgb(151, 219, 151);
      border: 3px solid rgb(151, 219, 151);
   }

}

@media screen and (min-width: 992px) {
   body {
      background-image: linear-gradient(to bottom,white, black);
   }
   main {
      width: 950px;
      height: 450px;
   }
   main > div#img {
      background-image: url(../imagems/img06.jpeg);
      float: right;
      width: 50%;
      height: 100%;
   }

   main > div#form {
      float: left;
      width: 50%;
   }
   div#form > h1 {
      font-size: 2.5em;
   }

   div#form > p {
      font-size: 1.4em;
   }

   form > a.botao {
      background-color: white;
      border: 1px solid black;
   }
   input#submit {
      background-color: black;
      color: white;
   }
   form > a.botao:hover {
      background-color: black;
      border: 1px solid black;
      color: white;
      transition: .5s;
   }
   input#submit:hover {
      background-color: white;
      border: 1px solid black;
      color: black;
      transition: .5s;
   }
   div.field > input {
      background-color: white;
   }
   form > div.field {
      border: 3px solid black;
      background-color: black;
   }
}