@charset 'UTF-8';

  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');

/*
   Paleta de cores
   

*/
:root {
   --tablet: linear-gradient(to bottom ,rgb(77, 190, 115), rgb(113, 187, 137));
   --tvs: linear-gradient(to top, rgb(199, 138, 196) , rgb(114, 218, 212));
   --phone: linear-gradient(180deg, #D9A3C6, purple, #8FAFD9, aqua)
}

* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body, html {
   background-image: var(--phone);
   background-repeat: no-repeat;
   position: relative;
   width: 100vw;
   height: 100vh;
}

main {
   overflow: hidden;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   background-color: white;
   width: 250px;
   height: 500px;
   border-radius: 20px;
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.514);

   transition: width .3s, height .3s;
   transition-timing-function: ease;
}

div {
   display: block;
}

main > div#img {
   background: black url(../imagems/img02.jpeg);
   background-size: cover;
   height: 250px;
}

main > div#form {
   padding: 10px;
}

h1 {
   text-align: center;
   font-family: 'Pixelify Sans', sans-serif;
}
